<!-- empty = e

white_king = k
black_king = K

white_queen = q
black_queen = Q

white_rook = k
black_rook = R

white_knight = n
black_knight = N

white_bishop = b
black_bishop = B

white_pawn = p
black_pawn = P 

"RNBQKBNRPPPPPPPPeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeepppppppprnbqkbnr" -->


<style type="text/css">

.piece {
	width: 80px;
	height: 80px;
}

.index {
	height: 20px;
}
	
table {
	align-self: center;
    border-collapse: collapse;
}

table, th, td {
    border: 7px solid black;
    height: 90px;
    width: 90px;
    padding: 5px;
    
    text-align: center;
}	
table tr:nth-child(2n+1) td:nth-child(2n+1) {
	
	background-color: gray;
}
table tr:nth-child(2n) td:nth-child(2n) {
	background-color: gray;
}

</style>

{% load index %}
{% load sub %}
{% load static %}

<div style="float: left; width: 500px;">
	<form action="{% url 'signout' %}" method="post">
		{% csrf_token %}
		<h3> Hello < {{ username }} > </h3>
		<h3>Wins : {{ wins }}</h3>
		<h3>Loses : {{ loses }}</h3>
		<input type="submit" name="signout" value="Sign Out"></br></br>

		<h4> .: Leader Board :. </h4>

		{% for score in scores %}
			<p> {{ score }} </p></br>
		{% endfor %}
	</form>
</div>

<div style="float: left;">
	<center>
		<table>
			{% for i in "01234567" %}
				<tr>
					<td><strong> {{ 8|sub:i }} </strong></td>
					{% for j in "01234567" %}
						<td><img class="piece" src="{% static board_imgs|index:i|index:j %}"></td>
					{% endfor %}
				</tr>
			{% endfor %}
			<tr>
				{% for j in " ABCDEFGH" %}
					<td class="index"><strong> {{ j }} </strong></td>
				{% endfor %}
			</tr>
		</table>
	</br>

		<form action="{% url 'move' %}" method="post"></br>
			{% csrf_token %}
			{% if turn == 'me' %}
				<input type="text" name="move" placeholder="Enter your move here" style="width: 180px"></br></br>
				<input autocomplete="required" type="submit" name="submit" value="move"></br></br>
			{% endif %}

			{% if turn == 'ai' %}
				<input type="submit" name="submit" value="show AI move"></br></br>
			{% endif %}

			{% if message %} {{ message }} {% endif %}
		</form>
	</center>
</div>