<h1>Play Chess Online :D</h1>

<h2>Login :</h2>
<form action="{% url 'login' %}" method="post">
{% csrf_token %}

email:
<input type="text" name="email"></br>

password:
<input type="password" name="password"></br>

<input type="submit" name="submit" value="login">
<input type="reset" name="reset" value="clear">

{% if login_error %}<h4>{{ login_error }}</h4>{% endif %}
</form>



</br>
<h2>Register :</h2>
<form action="{% url 'register' %}" method="post">
{% csrf_token %}

email:
<input type="text" name="email"></br>

username:
<input type="text" name="username"></br>

password:
<input type="password" name="password"></br>

<input type="submit" name="submit" value="login">
<input type="reset" name="reset" value="clear">

{% if register_error %}<h4>{{ register_error }}</h4>{% endif %}
</form>